{% load static %}
<link rel="stylesheet" href="{% static 'kikiproject/style.css' %}">

<header>
    <a href="{% url 'home' %}" class="logo">
        <img src="{% static 'kikiproject/image/logo.png' %}" alt="">
    </a>
    {% if user.is_authenticated %}
    <div class="user-info">
        <a href="{% url 'profile' user.id %}" class="image">
            <div class="image-container">
                {% if user.userprofile.profile_image %}
                <img src="{{ user.userprofile.profile_image.url }}" class="round-image" width="150" height="150">
                {% else %}
                <img src="{% static 'kikiproject/image/default_pic.png' %}" class="round-image" width="150"
                     height="150">
                {% endif %}
            </div>
            <span>{{ user.username }}</span>
        </a>

    </div>

    <div class="controls">
        <a href="{% url 'logout' %}" class="button">Logout</a>
    </div>
    {% else %}

    <div class="controls">
        <a href="{% url 'register' %}" class="button">Register</a>
    </div>

    {% endif %}
</header>