{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'kikiproject/style.css' %}">

{% block content %}

    <div class="container">
            <h1>Update Profile</h1>
            <br/>

            <form method="POST" action="" class="form" enctype="multipart/form-data">
                {% csrf_token %}

                {{ user_form.as_p }}
                {{ profile_form.as_p }}


                    <br/>
                <button type="submit" class="button btn-sz01">Update</button>
            </form>
    </div>

{% endblock %}